<ion-view view-title="Login">
  <ion-content mm-state-class>
    <div class="list">
      <div class="item item-text-wrap">Enter your  <strong>Dzidza</strong> credentials to add a new Account on the App</div>
      <form>
        <ion-input class="item item-input item-stacked-label">
          <ion-label>{{ 'mm.login.username' | translate }}</ion-label>
          <input type="text" placeholder="username or email" ng-model="credentials.username" autocapitalize="off" autocorrect="off" mm-auto-focus ng-disabled="isBrowserSSO">
        </ion-input>
        <ion-input class="item item-input item-stacked-label">
          <ion-label>{{ 'mm.login.password' | translate }}</ion-label>
          <input type="password" placeholder="{{ 'mm.login.password' | translate }}" ng-model="credentials.password" ng-disabled="isBrowserSSO">
        </ion-input>
        <div class="padding">
          <button class="button button-block" ng-click="login()">login</button>
          <a class="button button-red" href="{{siteurl}}/login/signup.php">Don't have an Account?</a>
        </div>
      </form>
        <div class="padding">
            <p align="center">
                PS. If you used Facebook/Google authntication to login on the website, please add a manual login password. Fo assistence on Whatsapp send a message to the developer <a href="intent://send/+358449557387#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">here:</a>
            </p>
        </div>
        <div class="padding">    
          <ul class="soc">
              <li><a class="soc-twitter" href="https://www.twitter.com/dzidzafunda"></a></li>
              <li><a class="soc-facebook" href="https://www.facebook.com/dzidzafunda"></a></li>
              <li><a class="soc-instagram soc-icon-last" href="https://www.instagram.com/dzidzafunda"></a></li>
          </ul>
        </div>
    </div>
  </ion-content>
</ion-view>
